<mat-divider></mat-divider>
<section>
  <div class="example-label">CLick To Navigate</div>
  <div class="example-button-row">
    <button mat-raised-button color="primary"  routerLink="/dragNdrop">Drag & Drop</button>
    <button mat-raised-button color="primary" routerLink="/tree">Tree</button>
    <button mat-raised-button color="primary" routerLink="/adressForm">AdressForm</button>
    <button mat-raised-button color="primary" routerLink="/dash">Dashboard</button>
    <button mat-raised-button color="primary" routerLink="/nav">Nav</button>
    <button mat-raised-button color="primary" routerLink="/table">Table</button>
  </div>
</section>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
